<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav><a href="{{ url_for('index') }}">Home</a></nav>
        <nav><a href="">About</a></nav>
        <nav><a href="">Goals</a></nav>
    </header>
    {% block content %}{% endblock %}
    <footer>

    </footer>
</body>
</html>